:root {
    --form-border : 3px solid #f1f1f1;
    --form-width : 400px;
    --form-font-family : tahoma, arial;
    --form-font-size : 15px;
    --form-padding : 16px;
    --form-button-background-color : #04AA6D;
    --form-button-color : white;
    --form-button-border : none;
}

form {
    border: var(--form-border);
    width: var(--form-width);
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: var(--form-button-background-color);
    color: var(--form-button-color);
    margin: 8px 0;
    border: var(--form-button-border);
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: var(--form-padding);
    font-family: var(--form-font-family);
    font-size: var(--form-font-size);
}

span.psw {
    float: right;
}
