:root {
    --slider-width: 20%;
    --slider-height: 20px;
    --slider-border-radius: 5px;
    --slider-background: #d3d3d3;

    --slider-thumb-width: 25px;
    --slider-thumb-height: 25px;
    --slider-thumb-border-radius: 10px;
    --slider-thumb-background: #04AA6D;
}

.default {
    width: 20%;
}

.slider {
    /*-webkit-appearance: none;*/
    width: var(--slider-width);
    height: var(--slider-height);
    border-radius: var(--slider-border-radius);
    background: var(--slider-background);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-height);
    border-radius: var(--slider-thumb-border-radius);
    background: var(--slider-thumb-background);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: var(--slider-thumb-width);
    height: 25px;
    border-radius: var(--slider-thumb-border-radius);
    background: var(--slider-thumb-background);
    cursor: pointer;
}
