:root {
    --tab-background-color : white;
    --tab-button-initial-background-color : #eee;
    --tab-button-padding : 10px;
    --tab-button-hover-background-color : #ddd;
    --tab-button-active-background-color : #ccc;

    --tabcontent-padding-top : 6px;
    --tabcontent-padding-right : 12px;
    --tabcontent-padding-bottom : 6px;
    --tabcontent-padding-left : 12px;
    --tabcontent-animation : fadeEffect 1s;
    --tabcontent-height : 300px;

    --left-tabcontent-width : 90%;
    --left-tab-width : 10%;
}

/************************************************************
 * toptab                                                   *
 ************************************************************/
/* Style the toptab */
.toptab {
    overflow: scroll;
    background-color: var(--tab-background-color);
    /*border-bottom: 1px solid gray;*/
}

/* Style the buttons that are used to open the tab content */
.toptab button {
    background-color: var(--tab-button-initial-background-color);
    float: left;
    border:none;
    outline: none;
    cursor: pointer;
    padding: var(--tab-button-padding) var(--tab-button-padding);
    transition: 0.3s;
    font-family:tahoma,arial;
    font-size:15px;
}

/* Change background color of buttons on hover */
.toptab button:hover {
    background-color: var(--tab-button-hover-background-color);
}

/* Create an active/current tablink class */
.toptab button.active {
    background-color: var(--tab-button-active-background-color);
}

/* Style the tab content */
.toptabcontent {
    display: none;
    height: var(--tabcontent-height);
    padding-top: var(--tabcontent-padding-top);
    padding-right: var(--tabcontent-padding-right);
    padding-bottom: var(--tabcontent-padding-bottom);
    padding-left: var(--tabcontent-padding-left);
    animation: var(--tabcontent-animation);
    font-family:tahoma,arial;
    font-size:15px;
} 

/************************************************************
 * lefttab                                                   *
 ************************************************************/
/* Style the lefttab */
.lefttab {
    float: left;
    overflow: scroll;
    background-color: var(--tab-background-color);
    width: var(--left-tab-width);
    height: var(--tabcontent-height);
}

/* Style the buttons that are used to open the tab content */
.lefttab button {
    display: block;
    background-color: var(--tab-button-initial-background-color);
    width: 100%;
    text-align: left;
    border:none;
    outline: none;
    cursor: pointer;
    padding: var(--tab-button-padding) var(--tab-button-padding);
    transition: 0.3s;
    font-family:tahoma,arial;
    font-size:15px;
}

/* Change background color of buttons on hover */
.lefttab button:hover {
    background-color: var(--tab-button-hover-background-color);
}

/* Create an active/current tablink class */
.lefttab button.active {
    background-color: var(--tab-button-active-background-color);
}

/* Style the tab content */
.lefttabcontent {
    float: left;
    width: calc(var(--left-tabcontent-width) - var(--tabcontent-padding-left) - var(--tabcontent-padding-right));
    height: calc(var(--tabcontent-height) - var(--tabcontent-padding-top) - var(--tabcontent-padding-bottom));
    display: none;
    padding-top: var(--tabcontent-padding-top);
    padding-right: var(--tabcontent-padding-right);
    padding-bottom: var(--tabcontent-padding-bottom);
    padding-left: var(--tabcontent-padding-left);
    animation: var(--tabcontent-animation);
    font-family:tahoma,arial;
    font-size:15px;
} 

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}
