:root {
    --tooltip-border-bottom: 1px dotted #ccc;
    --tooltip-color: #006080;
    --tooltip-width: 120px;

    --tooltiptext-background-color: #555;
    --tooltiptext-font-family: Arial, Tahoma;
    --tooltiptext-color: #fff;
    --tooltiptext-padding: 5px 0;
    --tooltiptext-border-radius: 6px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: var(--tooltip-border-bottom);
    color: var(--tooltip-color);
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: var(--tooltip-width);
    background-color: var(--tooltiptext-background-color);
    font-family: var(--tooltiptext-font-family);
    color: var(--tooltiptext-color);
    text-align: center;
    padding: var(--tooltiptext-padding);
    border-radius: var(--tooltiptext-border-radius);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-right {
  top: -5px;
  left: 125%;  
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip-bottom {
  top: 135%;
  left: 50%;  
  margin-left: -60px;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-top {
  bottom: 125%;
  left: 50%;  
  margin-left: -60px;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-left {
  top: -5px;
  bottom:auto;
  right: 128%;  
}
.tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}
