:root {
  --topnav-background-color : #333;
  --topnav-font-family : Arial, Helvetica, sans-serif;
  --topnav-font-size : 17px;
  --topnav-color : #f2f2f2;
  --topnav-text-align : center;
  --topnav-anchor-padding : 14px 16px;
  --topnav-anchor-hover-background-color : #ddd;
  --topnav-anchor-hover-color : black;
  --topnav-anchor-active-background-color : #04AA6D;
  --topnav-anchor-active-color : white;
  --topnav-main-margin-top: 30px;
}

/********************************************************
  menu horizontal non fixe
 ********************************************************/
.topnav {
  background-color: var(--topnav-background-color);
  overflow: hidden;
  font-family: var(--topnav-font-family);
  font-size: var(--topnav-font-size);
  width: 100%;
}

.topnav a {
  float: left;
  color: var(--topnav-color);
  text-align: var(--topnav-text-align);
  padding: var(--topnav-anchor-padding);
  text-decoration: none;
}

.topnav a:hover {
  background-color: var(--topnav-anchor-hover-background-color);
  color: var(--topnav-anchor-hover-color);
}

.topnav a.active {
  background-color: var(--topnav-anchor-active-background-color);
  color: var(--topnav-anchor-active-color);
}

/********************************************************
  menu horizontal fixe
 ********************************************************/
.topnavfixed {
  overflow: hidden;
  background-color: var(--topnav-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  font-family: var(--topnav-font-family);
  font-size: var(--topnav-font-size);
}

.topnavfixed a {
  float: left;
  display: block;
  color: var(--topnav-color);
  text-align: var(--topnav-text-align);
  padding: var(--topnav-anchor-padding);
  text-decoration: none;
}

.topnavfixed a:hover {
  background: var(--topnav-anchor-hover-background-color);
  color: var(--topnav-anchor-hover-color);
}

.topnavfixed a.active {
  background-color: var(--topnav-anchor-active-background-color);
  color: var(--topnav-anchor-active-color);
}

.mainfixed {
  margin-top: var(--topnav-main-margin-top);
}