# Fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Fichiers temporaires / sauvegardes
*.swp
*.swo
*.tmp

# Environnements virtuels
venv/
env/

# Mac / Windows
.DS_Store
Thumbs.db
.vscode/settings.json
