body {
    font-family:Arial,sans-serif;
    font-size:17px;
}

a {
    text-decoration:none;
    font-weight:bold;
    color:orange;
}

a:hover {
    color:black;
}

#global-block {
    border:1px solid gray; 
    border-radius:10px;
    background-color:#fcfcfc; 
    width:650px; 
    padding:20px; 
    margin: 50px auto;
}

h2 {
    text-align:center;
}

#block {
    margin: 0 auto; 
    width:475px;
}
