body {
    margin:0;
    font-family:Arial,sans-serif;
    height:100vh;
    display:flex;
    flex-direction:column;
}

.topbar {
    height: 56px;
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    height: 28px;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.topbar-left button.tosave {
    background: indianred;
}

.topbar-left button:hover.tosave {
    background: rgba(205,92,92,0.8);
}

.topbar-left button {
    cursor:pointer;
    background: rgba(255,255,255,0.1);
    border: none;
    color: white;
    border-radius: 6px;
    padding: 6px 12px;
    margin-right: 7px;
}

.topbar-left button:hover {
    background: rgba(255,255,255,0.3);
}

#main {
    flex:1;
    display:grid;
    grid-template-columns:220px 245px 1fr;
    grid-template-rows:1fr 80px;
    gap:12px;
    padding:12px;
    background: #f5f7fb;
    min-height:0;
}

.panel {
    background:#fff;
    display:flex;
    flex-direction:column;
    min-height:0;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    overflow:auto;
}

.panel-header {
    border-bottom:1px solid #ccc;
    flex-shrink:0;
    padding: 7px 14px;
    font-weight: 600;
    background: transparent;
    border-bottom: 1px solid #eef1f5;
}

.panel-content {
    flex:1;
    overflow:auto;
    padding:5px;
    min-height:0;
}

.palette_section {
    border: 1px solid #ccc;
    margin-bottom: 6px;
    border-radius: 6px;
    width:223px;
}

.palette_header {
    background: #eee;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    width:211px;
}

.palette-content {
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width:210px;
}

.palette_section.collapsed .palette-content {
    display: none;
}

.palette-item {
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #e6ebf1;
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
    transition: all 0.15s ease;
}

.palette-item:hover {
    background: #f4f8ff;
    border-color: #4a90e2;
}

.icon {
    width: 26px;
    height: 26px;
    stroke: #6b7280;
    stroke-width: 2;
    fill: none;
    transition: all 0.2s ease;
}

:root {
    --color-layout : #3b82f6;
    --color-container : #22c55e;
    --color-text : #a855f7;
    --color-form : #f97316;
    --color-action : #eab308;
    --color-component : #00ccff;
}

#explorer {
    grid-column:1;
    grid-row:1;
    padding: 10px;
}

#palette {
    grid-column:2;
    grid-row:1;
    padding: 10px;
}

#workspace-panel {
    grid-column:3;
    grid-row:1;
    padding: 10px;
}

#trash {
    grid-column:1/span 3;
    grid-row:2;
    background: #f0f0f0;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    color: #c0392b;
    border-radius: 12px;
    font-weight: 500;
}

.zone {
    position: relative;
    border: 2px dashed #d6dde5;
    border-radius: 10px;
    padding: 12px;
    background: #fafbfd;
    transition: all 0.2s;
}

.zone:hover {
    border-color: #4a90e2;
    background: #f0f6ff;
}

.widget {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 12px;
    margin: 10px 0;
    cursor: grab;
}

.layout {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 12px;
    margin: 10px 0;
    /*cursor: grab;*/
}

.insert-line {
    position: relative;
    height: 3px;
    background: #e74c3c;
    left: 10px;
    right: 10px;
    border-radius: 2px;
    z-index: 100;
    pointer-events: none;
}

.insert-line::after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50%;
    height: 3px;
    background: #e74c3c;
    transform: translateY(-50%);
}

.tree-file {
    cursor:pointer;
    padding: 4px 6px;
    border-radius: 8px;
    transition: background 0.15s;
}

.tree-file:hover {
    background: #eef3f8;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.hidden {
    display: none;
}

.dialog-popup{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    min-width:350px;
    /*max-width:550px;*/
    padding-bottom: 10px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    border: none;
}

.dialog-header {
    padding:10px;
    border-radius: 10px 10px 0px 0px;
    font-weight:bold;
    background: #f9fafb;
    border-bottom: 1px solid #eee;

}

.dialog-actions {
    clear:both;
}

/* Sections */
.dialog-section {
    margin-bottom: 12px;
}

/* Titres */
.dialog-section-title {
    font-size: 13px;
    font-weight: 600;
    color: #6b7280;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.dialog-column {
    float:left; 
    margin-right:20px;
}

/* Lignes */
.dialog-row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.dialog-row-with-checkbox {
    display: flex;
    /*justify-content: space-between;*/
    padding: 6px 0;
}

.dialog-row input[type="text"] {
    padding:7px;
    width:314px;
    border-radius:8px;
    background: #f5f7fa;
    font-size:16px;
    border:1px solid #ddd;
}

.dialog-row input[type="number"] {
    padding:7px;
    border-radius:8px;
    background: #f5f7fa;
    font-size:16px;
    border:1px solid #ddd;
}

.dialog-row-with-checkbox input[type="checkbox"] {
    width:20px;
}

.dialog-row select {
    padding:7px;
    width:330px;
    border-radius:8px;
    background: #f5f7fa;
    font-size:16px;
    border:1px solid #ddd;
}

.dialog-row textarea {
    padding:5px;
    width:318px;
    height:100px;
    border-radius:8px;
    background: #f5f7fa;
    font-size:16px;
    border:1px solid #ddd;
    resize: none;
}

.dialog-row ul {
    padding:5px;
    width:397px;
    height:100px;
    border-radius:8px;
    background: #f5f7fa;
    font-size:16px;
    border:1px solid #ddd;
    list-style-type: none;
    margin:2px;
}

.dialog-row span {
    padding:5px;
    font-size:16px;
}
/* Base bouton */
.btn {
    padding: 6px 14px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* Bouton principal (Apply) */
.btn-primary {
    background: #3b82f6;
    color: white;
}

.btn-primary:hover {
    background: #2563eb;
}

/* Bouton secondaire (Close) */
.btn-secondary {
    background: #f3f4f6;
    color: #374151;
    margin-right:5px;
}

.btn-secondary:hover {
    background: #e5e7eb;
}

/* Bouton ternaire */
.btn-ternary {
    background: #f0f1f2;
    color: #374151;
}

.btn-ternary:hover {
    background: #e5e7eb;
}

#dialogContent {
    padding:10px;
}

/* concerne les arbres */
.tree {
    font-family: system-ui, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.tree-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 3px 0;
}

.tree-row input {
    padding:4px;
    width:314px;
    border-radius:8px;
    background: #f5f7fa;
    font-size:16px;
    border:1px solid #ddd;
}

.tree-values {
    margin-left: 28px;
    border-left: 1px solid #ddd;
    padding-left: 10px;
}

.tree button:hover {
    background: #e9e9e9;
}

/* editeur js */
.editor-container {
    width: 100%;
    max-width: 600px;
}

.editor {
    position: relative;
    height: 200px;
    width: 600px;
    font-family: monospace;
}

.editor textarea,
.editor pre {
    position: absolute;
    top: 0;
    left: 0;
    width: 580px;
    height: 100%;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    overflow: auto;
    white-space: pre;
}

.editor textarea {
    background: transparent;
    color: transparent;
    caret-color: black;
    z-index: 2;
    resize: none;
    border: 1px solid #ccc;
}

.editor pre {
    z-index: 1;
    pointer-events: none;
}

/* coloration simple */
.keyword { color: #0077aa; }
.string  { color: #a31515; }
.comment { color: #6a9955; }